[Unit]
Description=Run pathmonitor daemon.

[Service]
Type=simple
ExecStart=/usr/bin/pathmonitor -c /etc/pathmonitor.yaml

[Install]
WantedBy=multi-user.target
